.Footer
{
    display: flex;
    flex-direction: column;
    text-align: center;

    color: #4B0082;
}

.Footer-Upper
{
    display: flex;
    flex-direction: row;
}

.Footer-Upper-Text, .Footer-Upper-Icons
{
    flex : 1;
}

.Footer-Upper-Icons
{
    display: flex;
    flex-direction: column;
}

.Footer-Upper-Text-para
{
    padding: 2rem;
}


@media (max-width: 600px)
{
    .Footer
    {
        display: flex;
        flex-direction: column;
    }

    .Footer-Upper
    {
        display: flex;
        flex-direction: column;
    }

    .Footer-Upper-Text-para
    {
        padding: 4rem;
    }
    
}