


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
.App{
  /* background: linear-gradient(to left,#8942a8, #ba382f); */
  background: linear-gradient(to left,#6e1959, #f7f7f7);
  width: 105%;
  height: 320vh;
  /* overflow: hidden; */}


.animation-moving{
  /* background: linear-gradient(to left,#8942a8, #ba382f); */
  /* width: 120%; */
  /* height: 1000vh; */
  /* overflow: hidden; */
}

.box-type{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-type li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,0.2);
  animation: animate2 20s linear infinite;
  bottom: -100px;
}
.box-type li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation: animate 20s linear infinite;
  animation-delay: 0s;
}
.box-type li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-type li:nth-child(3){
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 5.5s;
  animation: animate 20s linear infinite;
  animation-duration: 11.5s;
}
.box-type li:nth-child(4){
  left: 42%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 15s;
  animation: animate 20s linear infinite;
  animation-duration: 8.5s;
}
.box-type li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.box-type li:nth-child(6){
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate{
  from {
    transform:  translateY(-1000px) rotate(0deg);
    opacity: 1
  }
  to {
    transform: translateY(0px) rotate(360deg);
  }
}

@keyframes animate2{
  from {
    transform:  translateY(0px) rotate(0deg);
    opacity: 1
  }
  to {
    transform: translateY(-1000px) rotate(-360deg);
  }
}

:root {
  --off-white: #d8d7d7;
  --primaryColor: #af9a7d;
  --secondaryColor: red;
  --mainWhite: rgb(155, 112, 112);
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainButtonText: #f7f7f79c;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-item > .active {
  border-bottom: 1px solid #333;
  text-decoration: red;
  
}
.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 1200px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: rgb(161, 43, 43);
  cursor: pointer;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainButtonText);
  background: linear-gradient(to left,#8942a8, #ba382f);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--secondaryColor);
}
/* navbar ends here */

/* section starts here */


.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.wie-hack{
  font-size: 100px;
  padding-right: 0px;
  display: inline-block;
  font-style: italic;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 120px;
  padding-right: 10px;
  
} 
.float-wie{
  float: right;
  /* padding-right: 90px; */
  
}
.enlarge{
  font-size: 300px;
}

/* .img-wie{
  float: left;
  display: inline-flexbox;
  width: 200px;
  height: 150px;
} */
.woman-image{
  float: left;
  padding-top: 150px;
  width: 200px;
}

.year{
  font-size: 150px;
  
}

.wie-about{
  /* float: right; */
  color: pink;
  font-style: italic;
  position: relative;
  padding-left: 30rem;
}

.text-wie{
  /* float: right; */
  word-wrap: break-word;
  position: relative;
  font-size: larger;
}

.empty-space{
  height: 1000px;
}
@media screen and (max-width: 992px) {
  .App{
    background: linear-gradient(to left,#6e1959, #f7f7f7);
    
  }
  .woman-image{
    width:0;
    height:0;
  }
  .float-wie{
    display: block;
    width:100%;
    padding-top: 30px;
    
    /* height: 50vh; */
  }
  .wie-hack, .enlarge{
    font-size: 70px;
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
  }
  .text-wie{
    overflow: hidden;
    height: 0px;
  }
  .enlarge{
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

}

@media screen and (min-width: 1200px) {
  
}
